<!DOCTYPE html>
<html len="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" id="dark-mode-custom-link">
    <link type="text/css" rel="stylesheet" id="dark-mode-general-link">
    <style lang="en" type="text/css" id="dark-mode-custom-style"></style>
    <style lang="en" type="text/css" id="dark-mode-native-style"></style>
    <title>Zutat Hinzufügen</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <div class="container-fluid">
        <form id="formElem" name="formElem" method="POST" action="/Zutaten">
            <div class="row">
                <div class="col-md-12">
                    <h2>Zutat Hinzufügen</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <label for="InputDescription">Bezeichnung</label>
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" id="InputDescription" name="InputDescription" required
                        onchange="ChangeSearchName()">
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="UnitOfMeasurement ">Masseinheit</label>
                </div>
                <div class="col-2">
                    <label></label>
                </div>
                <div class="col-3">
                    <select name="UnitOfMeasurement" id="UnitOfMeasurement" class="form-control" required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <% for(var i=0; i < UnitOfMeasurement.length; i++){%>
                            <option value="<%= UnitOfMeasurement[i].ID%>" style="text-align: right;">
                                <%=UnitOfMeasurement[i].Unit%>
                            </option>
                            <% }; %>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="AmountOnStock ">Vorhandene Menge</label>
                </div>
                <div class="col-3">
                    <label></label>
                </div>
                <div class="col-2">
                    <input type="number" class="form-control" id="AmountOnStock " name="AmountOnStock" required min="0">
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="Category">Kategorie</label>
                </div>
                <div class="col-2">
                    <label></label>
                </div>
                <div class="col-3">
                    <select name="Category" id="Category" class="form-control" autofocus required>
                        <option selected disabled hidden style='display: none' value=''></option>
                        <% for(var i=0; i < Category.length; i++){%>
                            <option value="<%= Category[i].ID%>" style="text-align: right;">
                                <%=Category[i].CATEGORY%>
                            </option>
                            <% }; %>
                    </select>
                </div>
            </div>

            <div class="row">
                <div class="col-2">
                    <label for="SearchName">Suchbezeichnung</label>
                </div>
                <div class="col-5">
                    <input type="text" class="form-control" id="SearchName" name="SearchName" required>
                </div>
                <div class="col-1">
                    <button type="submit" class="btn btn-outline-success">Bestätigen</button>
                </div>
            </div>

        </form>
    </div>

    <script>
        function ChangeSearchName() {
            document.getElementById(formElem);
            formElem.SearchName.value = formElem.InputDescription.value.toUpperCase();
        }
    </script>
</body>

</html>