<!DOCTYPE html>
<html len="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link type="text/css" rel="stylesheet" id="dark-mode-custom-link">
    <link type="text/css" rel="stylesheet" id="dark-mode-general-link">
    <style lang="en" type="text/css" id="dark-mode-custom-style"></style>
    <style lang="en" type="text/css" id="dark-mode-native-style"></style>
    <title>Zutat Hinzufügen</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>

<body>
    <p>FrontPage</p>
</body>

</html>